/****** RESET STYLES ******/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL STYLES */
body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/***** NAVIGATION START ****/
.navbar {
  background-color: #3574c4;
  height: 170px;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar_items_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar_items_wrapper .navbar_items {
  display: flex;
  gap: 20px;
  padding: 10px 30px;
  border-radius: 2px solid #fff;
}
.navbar_items_wrapper .navbar_items .item a {
  color: white;
  font-size: 16px;
}

.btn {
  border: none;
  padding: 12px 21.5px;
  font-size: 14px;
  border-radius: 20px;
  transition: all ease-in-out 0.5s;
}

.navbar_items_wrapper .navbar_btn {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.navbar_items_wrapper .navbar_btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #3574c4;
}

/****** NAVIGATION END ********/
/***** SECTION HERO START ********/
.hero {
  background-color: #3574c4;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .container .hero-left .title {
  font-size: 96px;
  font-weight: bold;
  color: #fff;
}
.hero .container .hero-left .text {
  font-size: 24px;
  color: #fff;
  margin: 40px 0;
}
.hero .container .hero-left .btn_wrapper {
  display: flex;
  gap: 20px;
}
.hero .container .hero-left .btn_wrapper .btn_white {
  padding: 21px 80px;
  color: #3574c4;
  border: 2px solid #fff;
}
.hero .container .hero-left .btn_wrapper .btn_white:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.hero .container .hero-left .btn_wrapper .btn_outline {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 21px 80px;
  color: #fff;
}
.hero .container .hero-left .btn_wrapper .btn_outline:hover {
  background-color: #fff;
  color: #3574c4;
}

/****** SECTION HERO END *********/
/****** SECTION TEAM START *********/
.team {
  padding: 64px 0;
  text-align: center;
}
.team .team_title {
  font-size: 46px;
  color: #3574c4;
  margin-bottom: 64px;
}
.team .team_textOne, .team .team_textTwo {
  font-size: 18px;
  margin: 20px auto;
  width: 70%;
}
.team .teamImage {
  margin-top: 40px;
  width: 75%;
}

/****** SECTION TEAM END ***********/
/****** SECTION DEMO START *********/
.demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.demo img {
  width: 50%;
  margin: 50px auto;
}
.demo .demo_content h3 {
  font-size: 48px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 49px;
}
.demo .demo_content p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}
.demo .demo_content .btn-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.demo .demo_content .btn-wrapper .btn {
  padding: 20px 81px;
}
.demo .demo_content .btn-wrapper .btn-white {
  background-color: #3574c4;
  color: white;
}
.demo .demo_content .btn-wrapper .btn-outline {
  background-color: transparent;
  color: #3574c4;
  border: 2px solid #3574c4;
}

/****** SECTION DEMO END ***********/
/****** FOOTER START *********/
.footer {
  background-color: #3574c4;
  padding: 30px;
}
.footer .container .footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer .container .footer-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .container .footer-wrapper ul li a {
  color: white;
}
.footer .container .footer_title {
  text-align: center;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/****** FOOTER END *********//*# sourceMappingURL=style.css.map */