/****** RESET STYLES ******/
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
/* GLOBAL STYLES */
 body {
     font-family: "Roboto", sans-serif;
}
 ul {
     list-style: none;
}
 a {
     text-decoration: none;
}
 .container {
     width: 80%;
     margin: 0 auto;
}
/***** NAVIGATION START ****/
 .navbar {
     background-color: #3574c4;
     height: 170px;
     .container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 100%;
    }
}
 .navbar_items_wrapper {
     display: flex;
     align-items: center;
     gap: 20px;
     .navbar_items {
         display: flex;
         gap: 20px;
         padding: 10px 30px;
         border-radius: 2px solid #fff;
         .item a {
             color: white;
             font-size: 16px;
        }
    }
}
 .btn {
     border: none;
     padding: 12px 21.5px;
     font-size: 14px;
     border-radius: 20px;
     transition: all ease-in-out 0.5s;
}
 .navbar_items_wrapper {
     .navbar_btn {
         background-color: rgba(255, 255, 255, 0.15);
         color: #fff;
    }
}
 .navbar_items_wrapper {
     .navbar_btn {
         &:hover {
             background-color: rgba(255, 255, 255, 0.9);
             color: #3574c4;
        }
    }
}
/****** NAVIGATION END ********/
/***** SECTION HERO START ********/
 .hero {
     background-color: #3574c4;
     .container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         .hero-left {
             .title {
                 font-size: 96px;
                 font-weight: bold;
                 color: #fff;
            }
             .text {
                 font-size: 24px;
                 color: #fff;
                 margin: 40px 0;
            }
             .btn_wrapper {
                 display: flex;
                 gap: 20px;
                 .btn_white {
                     padding: 21px 80px;
                     color: #3574c4;
                     border: 2px solid #fff;
                     &:hover {
                         background-color: transparent;
                         border: 2px solid #fff;
                         color: #fff;
                    }
                }
                 .btn_outline {
                     background-color: transparent;
                     border: 2px solid #fff;
                     padding: 21px 80px;
                     color: #fff;
                     &:hover {
                         background-color: #fff;
                         color: #3574c4;
                    }
                }
            }
        }
    }
}
/****** SECTION HERO END *********/